<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  <title>KOTO Education & Immigration | 开泰留学移民</title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

  <meta name="title" content="KOTO Education & Immigration | 开泰留学移民">
  <meta name="description" content="KOTO 开泰留学移民 - 加拿大持牌顾问团队，提供留学规划、CRS 算分、快速通道 (EE) 及各类签证申请服务。基于官方标准，为您定制最优移民路径。">

  <meta property="og:type" content="website">
  <meta property="og:url" content="/">
  <meta property="og:title" content="KOTO Education & Immigration | 开泰留学移民">
  <meta property="og:description" content="KOTO 开泰留学移民 - 加拿大持牌顾问团队，提供留学规划、CRS 算分、快速通道 (EE) 及各类签证申请服务。">
  
  <meta property="og:image" content="/images/logo-koto.png">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="/">
  <meta property="twitter:title" content="KOTO Education & Immigration | 开泰留学移民">
  <meta property="twitter:description" content="KOTO 开泰留学移民 - 加拿大持牌顾问团队，提供留学规划、CRS 算分、快速通道 (EE) 及各类签证申请服务。">
  
  <meta property="twitter:image" content="/images/logo-koto.png">

  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
  
  <link rel="icon" type="image/png" href="/images/logo-koto.png">

  {{ if .IsHome }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {{ end }}
</head>
